/*
Style Sheet for Album Section
By Waren Gonzaga
*/

.all-header {
color: #009688;
font-size: 20px;
font-weight: 900;
text-transform: uppercase;
text-align: left;
margin-bottom: -10px;
}

.album-case {
background: #dadada;
margin: 0px 20px 0px 20px;
}

.album-art {
float: left;
margin: 0px 10px 10px 0px;
width: 120px;
height: 120px;
}

.album-title {
font-size: 15px;
font-weight: 900;
text-transform: uppercase;
white-space : normal;
-webkit-animation-delay: 1s;
}

.album-date {
font-size: 12px;
font-weight: 500px;
text-transform: none;
-webkit-animation-delay: 1s;
}
