/**
 *App Layout Stylesheet
 *by Waren Gonzaga
 */

body {
  background-color: #eee;
  font-style: "helvetica";
}

.ui-overlay-a, 
.ui-page-theme-a, 
.ui-page-theme-a, 
.ui-panel-wrapper {
  background-color: #eee!important;
}

/********************\
|*** Major Styles ***|
\********************/

.app-name {
  font-family: smudgestick;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidemenu-name {
  color: #fff;
  font-size: 25px;
  font-family: smudgestick;
  font-weight: 900;
  margin-top: 15px;
  text-transform: capitalize;
}

input[placeholder] {
  font-family: quicksandbld;
}

.nav-name {
  font-weight: 900;
  text-transform: uppercase;
  background: #dadada;
}

.artist-popup-name {
  color: #009688;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: -10px;
}

#footer {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.footer-name {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-name-index {
  /* Saffari and Chrome */
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 4;
  /* Firefox */
  -moz-animation-duration: 20s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: 4;
}

.footer-name-lyrics {
  /* Saffari and Chrome */
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 1s;
  /* Firefox */
  -moz-animation-duration: 20s;
  -moz-animation-delay: 1s;
}

/*Lyrics Page*/
.lyrics-header, .lyrics-author, .lyrics-body {
  font-weight: bold;
  font-family: 'helvetica';
  text-align: center;
}

.lyrics-header {
  font-size: 20px;
  color: #009688;
  text-align: center;
}

.lyrics-author {
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.lyrics-body {
  font-size: 14px;
  color: #333333;
}

#lyrics-theme-center {
  text-align: center;
}

#lyrics-theme-left {
  text-align: left;
}

#lyrics-theme-right {
  text-align: right;
}

#lyrics-theme-left, #lyrics-theme-center, #lyrics-theme-right {
  border: solid 2px #009688;
  border-radius: 10px;
  /*box-shadow: 2px 2px 1px 1px #333333;*/
  padding: 10px 10px;
}

/************************************\
|***** Tablet and Mobile Styles *****|
\************************************/

@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

@media only screen and (max-width : 370px) {
    #footer {
      display: none;
    }
}