/*
Style Sheet for App Layout
*/

body {
background-color: green;
}

.app-name {
font-size: 18px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 10px;
margin-bottom: 10px;
}

.sidemenu-name {
color: #fff;
font-size: 22px;
font-weight: 900;
margin-top: 15px;
text-transform: uppercase;
}

.nav-name {
font-weight: 900;
text-transform: uppercase;
background: #dadada;
}

.artist-popup-name {
color: #009688:
font-size: 40px;
font-weight: 900;
text-transform: uppercase;
text-align: left;
margin-bottom: -10px;
}

.footer-name {
color: #fff;
font-size: 15px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
-webkit-animation-duration: 30s;
-webkit-animation-delay: 2s;
-webkit-animation-iteration-count: 4;
}
