/*
Main Stylesheet
by Rhen Gonzaga
*/

/*/ Browser Fixes /*/
a {
display: inline;	
}

img[alt] {
font-size: 11px;
}

#panelHR {
  color:#009688;
  height:1px;
  margin-bottom:-1px;
}

#dialogHR {
  color:#009688;
}

/*/ Major Stylesheet /*/
body {
background-color: #dadada;
}

.app-name {
font-size: 18px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 10px;
margin-bottom: 10px;
}

.sidemenu-name {
color: #fff;
font-size: 22px;
font-weight: 900;
margin-top: 15px;
text-transform: uppercase;
}

.nav-name {
font-weight: 900;
text-transform: uppercase;
background: #dadada;
}

.artist-popup-name {
color: #009688:
font-size: 40px;
font-weight: 900;
text-transform: uppercase;
text-align: left;
margin-bottom: -10px;
}

.footer-name {
color: #fff;
font-size: 15px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}

/*/ // Panel Style // /*/
/*/ Version Style /*/
#version {
color:#fff;
font-size:14px;
font-weight: 900;
font-variant:small-caps;
margin-top:-20px;
margin-bottom: -5px;
text-align: right;
}

/*/ Swipe Style /*/
#swipe-name {
color: #fff;
font-size: 12px;
font-weight: 900;
text-transform: uppercase;
}

/*/ Side Panel /*/
#sidemenu {
width: 300px;		
}

/*/ Body Contents /*/
/*.all-header {
color: #009688;
font-size: 20px;
font-weight: 900;
text-transform: uppercase;
text-align: left;
margin-bottom: -10px;
}*/

.album-case {
background: #dadada;
margin: 0px 20px 0px 20px;
}

.album-art {
float: left;
margin: 0px 10px 10px 0px;
width: 120px;
height: 120px;
}

.album-title {
font-size: 15px;
font-weight: 900;
text-transform: uppercase;
white-space : normal;
}

.album-date {
font-size: 12px;
font-weight: 500px;
text-transform: none;
}
